{% extends 'Layouts/template.html.twig' %}


{% block contenu %}
    {% if paniers %}
    <table>
        <thead class ="row">
        <tr>
            <th> Libelle </th>
            <th> Quantite </th>
            <th> Prix unitaire </th>
            <th> Total </th>
            <th> Action </th>
        </tr>
        </thead>
        <tbody class ="col">
        {% set somme = 0 %}
        {% for article in paniers %}
            {% set somme = somme+ (article.quantite*article.articleId.prix) %}
            <tr>
                <td> {{ article.articleId.nom }} </td>
                <td> {{ article.quantite }} </td>
                <td> {{ article.articleId.prix }} </td>
                <td> {{ article.articleId.prix * article.quantite }}  </td>
                <td><a href="{{ path ('panier_delete',{ id:article.id }) }}">Supprimer</a>  </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
        <br>
        <li>Total Panier = {{ somme }} Or</li>
        <a class="button button1" href="{{ path('panier_vider') }}">Vider</a>
        <a class="button button2" href="{{ path('panier_valider') }}">Commander</a>
    {% endif %}
{% endblock %}