{% extends 'Layouts/template.html.twig' %}
{% block contenu %}
    <p>Liste des articles</p>
        <table>
            <thead>
                <tr>
                    <th> Libelle </th>
                    <th> Stock </th>
                    <th> Prix unitaire </th>
                    <th> Quantite </th>
                    <th> Modification </th>
                </tr>
            </thead>
            <tbody>
            {% for article in articles %}
                <tr>
                    <td> {{ article.nom }} </td>
                    <td> {{ article.quantite }}</td>
                    <td> {{ article.prix }} </td>
                    <td>{{ form_start(views[article.id]) }}
                        {{ form_row(views[article.id].qte) }}</td>
                    <td>{{ form_rest(views[article.id]) }}
                        {{ form_end(views[article.id]) }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    {% endblock %}
{% endblock %}